-if current_user
  .user_nav
    =link_to "Edit", edit_recipe_path(recipe.id)
    |
    =link_to "Delete", recipe_path(recipe.id), method: :delete

%article
  %h1= recipe.name

  =render partial: "recipe", locals:{recipe: recipe}
