.left-column
  -if latest_post
    %h2 Most Recent Post
    %article
      %h3= link_to latest_post.title, post_path(latest_post.id)

      :markdown
        latest_post.body
.right-column
  -if latest_recipe
    %h2 Most Recent Recipe
    %article
      %h3= link_to latest_recipe.name, recipe_path(latest_recipe.id)

      =render partial: "recipes/recipe", locals: {recipe: latest_recipe}
