-if current_user
  =link_to "Edit", edit_post_path(post)
  |
  =link_to "Delete", post_path(post.id), confirm: "Deleting is irreverssible. Are you sure you want to continue?", method: :delete

.post-title
  %h2= post.title

.post-date
  %p= post.created_at.to_s

.post-body
  %article
    :markdown
      #{post.body}
